@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: Synthwave;
    src: url(../Audiowide-Regular.ttf);
}


span {
    margin-top: 150px;
    font-family: Synthwave;
    font-weight: bold;
    font-size: 4em;
    color: #F5F1EE;
    display: flex;
    justify-content: center;
    padding: 50px;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3, 0px 0px 20px #b393d3;
    animation: glow 4s infinite;
}

body {
    background-image: url("../Pictures/home1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center;
}

body::-webkit-scrollbar {
    display: none;
}

@keyframes glow {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}